extends ../layout/common2

block content
  .container  
    h1 Upload Avatar
    form(action='/profile/avatar' method='POST' enctype='multipart/form-data')
      .form-group
        label Image
        input(type='file' name='avatar')
      .form-group
        button.btn.btn-primary.shadow-none(type='submit') Upload