extends ./layout/home.pug
  
block content 
  .container
    h1 Welcome to digital library
    a(href="/books") Click here to rent books
    br
    img(src="https://cdn.glitch.com/c97ab603-3bd1-4ddc-a33e-20d2bda23554%2Flibrary.jpg?v=1589526475065")