html
  head
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css') 
    link(rel='icon' type='image/png' href='https://cdn.glitch.com/27c7efdb-5c56-4c84-a6a9-737047d00772%2Ffavicon.png?v=1588664164997')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/') Library
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/users')
              | Users
              span.sr-only (current)

        ul.navbar-nav.ml-auto
          li.mr-2
            img(src=user.avatarUrl width="32")
          li= user.userName

    block content